<h2>Player Transaction Data</h2>

<div class="page-size">
  <label for="pageSize">Items per page:</label>
  <select id="pageSize" [(ngModel)]="paginationHelper.pageSize" (change)="paginationHelper.goToPage(1)">
    <option *ngFor="let size of paginationHelper.pageSizeOptions" [value]="size">{{ size }}</option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th (click)="sortBy('total')">
        Total
        <span *ngIf="sortColumn === 'total'">
          {{ sortDirection === true ? '▲' : '▼' }}
        </span>
      </th>
      <th (click)="sortBy('trades')">
        Trade
        <span *ngIf="sortColumn === 'trades'">
          {{ sortDirection === true ? '▲' : '▼' }}
        </span>
      </th>
      <th (click)="sortBy('add')">
        Add
        <span *ngIf="sortColumn === 'add'">
          {{ sortDirection === true ? '▲' : '▼' }}
        </span>
      </th>
      <th (click)="sortBy('drop')">
        Drop
        <span *ngIf="sortColumn === 'drop'">
          {{ sortDirection === true ? '▲' : '▼' }}
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{getPlayerName(player.player_key)}}</td>
      <td>{{ player.total }}</td>
      <td>{{ player.trades }}</td>
      <td>{{ player.add }}</td>
      <td>{{ player.drop }}</td>
    </tr>
  </tbody>
</table>

<div class="pagination">
  <button (click)="paginationHelper.prevPage()" [disabled]="paginationHelper.pageIndex === 1">Prev</button>
  <span>Page {{ paginationHelper.pageIndex }} of {{ paginationHelper.totalPages }}</span>
  <button (click)="paginationHelper.nextPage()" [disabled]="paginationHelper.pageIndex === paginationHelper.totalPages">Next</button>
</div>